name: Release Please

on:
  workflow_call:
    inputs: {}

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current repo
        uses: actions/checkout@v4

      - name: Fetch shared config
        uses: actions/checkout@v4
        with:
          repository: CloudRader/ci-templates
          path: ci-templates

      - name: Copy shared config
        run: |
          cp ci-templates/configs/release-please/release-please-config.json .github/release-please-config.json

      - uses: googleapis/release-please-action@v4
        with:
          target-branch: main
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
